@font-face {
    font-family: 'Alata-Regular';
    src: url(../assets/fonts/Alata/Alata-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'JosefinSans-Light';
    src: url(../assets/fonts/Josefin_Sans/JosefinSans-Light.ttf) format('truetype');
}