// colors
$hslWhite: hsl(0, 0%, 100%);
$hslBlack: hsl(0, 0%, 0%);
$hslDarkGray: hsl(0, 0%, 55%);
$hslVeryDarkGray: hsl(0, 0%, 41%);

// paddings
$desktop_mainSpaceX: 8.5rem;
$desktop_mainSpaceY: 4.5rem;

$mobile_mainSpaceX: 2rem;
$mobile_mainSpaceY: 4rem;

// breakpoints
$mobileBreakpoint: 500px