@import "../../styles/variables";

.mainHome{
  display: flex;
  flex-direction: column;
  position: relative;

  min-height: 100vh;

  & .homeContainer{
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    padding: $desktop_mainSpaceY $desktop_mainSpaceX;

    background-repeat: no-repeat;
    background-size: cover;
    background-image:
            linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url("../../assets/images/desktop/image-hero.jpg");

    & > p{
      color: $hslWhite;
      border: 1px solid $hslWhite;

      margin-top: 8rem;

      padding: 2rem;
      width: 500px;

      font-size: 4rem;
      text-transform: uppercase;
    }
  }
}

@media (max-width: $mobileBreakpoint) {
  .mainHome {
    display: flex;

    & .homeContainer {
      min-height: 100vh;
      padding: $mobile_mainSpaceY $mobile_mainSpaceX;

      background-image:
              linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
              url("../../assets/images/mobile/image-hero.jpg");

      & > p {
        width: unset;
        font-size: 2.8rem;
      }
    }
  }
}

