@import "../../styles/variables";

footer {
  height: 200px;

  & .footerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;

    background: $hslBlack;
    color: $hslWhite;
    padding: 3rem $desktop_mainSpaceX;

    & ul {
      margin-top: 1.5rem;

      display: flex;
      list-style-type: none;

      &.linkList {
        display: flex;
      }
    }

    & .attribution{
      width: 100%;
      text-align: center;
      margin-top: 2rem;
    }
  }
}

@media (max-width: $mobileBreakpoint) {
  footer {
    height: 370px;

    & .footerContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 3rem $mobile_mainSpaceX;

      & ul.navList{
        text-align: center;
        flex-direction: column;

        & li:hover:after {
          content: none;
        }
      }

      & ul.linkList{
        justify-content: center;
      }
    }
  }
}